<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>OKR Summarizer</title>
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="index.css">
	</head>
	<body>

        {% macro labelMacro(data) -%}
            <a href="{{ data.html_url }}" class="label-block">
                <span class="label" style="background-color: #{{ data.label.color }}; color: {{ data.label.color|contrast }}">{{ data.label.name.split(' Confidence')[0] }}</span>
                <br>
                <span class="date" title="{{ data.created_at.strftime('%Y-%m-%d') }}">{{ data.created_at.strftime('%Y-%m-%d') }}</span>
            </a>
        {%- endmacro %}

        <div class="container">
            <h2>OKR Management Summaries</h2>
            <p><a href="index.html">Back to home page</a></p>
        </div>
        
            {% for project_id, project_data in projects_data.items() %}
                <div class="container project">
                <h3><a id="project-{{ project_data.project.id }}"></a>{{ project_data.project.name }}</h3>
                <p>
                    <a href="{{ project_data.project.html_url }}" class="github">OKRs on GitHub</a> 
                    <a class="anchor" href="#project-{{ project_data.project.id }}">#</a>
                </p>
                </div>

                <div class="container">
                    {% for card_title, card_url in project_data.contents_order %}
                        <div class="row">
                        {% set content = project_data.contents[card_url] %}
                            <div class="col-md-6">
                                
                                <h3>{{ content.title }}</h3>
                                <p>
                                    <a id="content-{{ content.id }}" href="{{ content.html_url }}" class="github">GitHub</a> &bull;
                                    <a class="anchor" href="#content-{{ content.id }}">#</a>
                                </p>
                                <p>
                                    <a href="{{ content.assignee.html_url }}" class="github">
                                    <img src="{{ content.assignee.avatar_url }}" class="avatar">
                                    {{ content.assignee.login }}</a>
                                </p>
                                <p class="markdown">{{ content.body }}</p>
                            </div>
                            <div class="col-md-6">
                                {% set timeline_changes = project_data.timeline_changes[content['timeline_url']] %}
                                {% for line in timeline_changes %}
                                    {% if line.event == 'labeled' %}
                                        {{ labelMacro(line)}}
                                    {% endif %}
                                {% endfor %}
        
                                {% for line in timeline_changes %}
                                    <p class="markdown">
                                        {% if line.event == 'commented' %}
                                            <a href="{{ line.html_url }}" class="github">Comment</a>
                                                (<span class="date" title="{{ line.created_at.strftime('%Y-%m-%d') }}">{{ line.created_at.strftime('%Y-%m-%d') }}</span>)
                                            {{ line.body }}
                                        {% endif %}
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>

            {% endfor %}
        </div>
        <script src="moment.min.js"></script>
        <script style="text/javascript">
            function update() {
              for (let zone of document.getElementsByClassName(["date"])) {
                zone.innerText = moment(zone.innerText, "YYYY-MM-DD").fromNow()
              }
            };
            update();
          </script>
      
    </body>
</html>