.label {
    font-weight: bold;
    font-size: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

td {
    padding: 0.3em;
}

a.github::before {
    background-image: url("github-icon.svg");
    content: " ";
    width: 16px;
    height: 16px;
    vertical-align: -3px;
    margin-right: 4px;
    display: inline-block;
}

h4 {
    padding-top: 0;
    margin-top: 0;
}

img.avatar {
    width: 16px;
    height: 16px;
}

span.date {
    border-bottom: 1px dotted grey;
}

.label-block {
    display: inline-block;
    margin-right: 1em;
    padding: 0.3em;
    margin-bottom: 0.3em;
}

.label-block:hover {
    text-decoration: none;
}

span.date {
    font-size: 0.8em;
}

.anchor {
    color: gray;
}

img {
    width: 100px;
}

.markdown h1 {
    font-size: 1.5em;
    font-weight: bold;
}

.markdown h2 {
    font-size: 1.4em;
    font-weight: bold;
} 

.markdown h3 {
    font-size: 1.3em;
    font-weight: bold;
}

.markdown h4 {
    font-size: 1.2em;
    font-weight: bold;
} 

.markdown h5 {
    font-size: 1.1em;
    font-weight: bold;
}

.markdown h6 {
    font-size: 1em;
    font-weight: bold;
}

.row {
    padding-top: 3em;
    padding-bottom: 3em;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
}

.row:hover {
    background-color: whitesmoke;
}

project {
    margin-top: 0;
    border-top: 1em;
}

.projects > a:first-child {
    background-color: #5cb85c;
}

.projects > a:first-child:hover {
    background-color: #4cae4c;
}

b.title {
    vertical-align: top;
}